<h1>Search a song</h1>

{% for user in users %}
    <h5>Hi, {{user}}</h5>
{% endfor %}

<form action="report">
    <label for="song-title">Enter a Song Title: </label>
    <input id="song-title" type="text" name="song-title" value="">
    <input type="submit" value="submit">
</form>

<a href="/form/report">See Report</a>

<br>
<br>

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="header-link">Logout</a>
{% else %}
    <a href="{% url "social:begin" "spotify" %}">Login</a>
{% endif %}